__pycache__/
*.pyc
**/.ipynb_checkpoints/
build/
dist/
*.egg-info/
*.ipynb
*.sqlite

!tutorials/*.ipynb

labelling_structure.json

.coverage
htmlcov/
old_yuntu/
old_tests/

.nvimrc

.coverage
htmlcov/
